version: '3.3'

services:

  speedtest-tracker:
    image: 'ghcr.io/alexjustesen/speedtest-tracker:latest'  
    container_name: speedtest-tracker
    ports:
     - '8200:80'
     - '8443:443'
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - './config:/config'
    restart: unless-stopped

    